alembic==1.0.9
ansiwrap==0.8.4
aplus==0.11.0
asn1crypto==0.24.0
astropy==3.1.2
atomicwrites==1.3.0
attrs==19.1.0
autopep8==1.4.4
backcall==0.1.0
backports.tempfile==1.0
backports.weakref==1.0.post1
biopython==1.73
bleach==3.1.0
boto3==1.7.62
botocore==1.10.62
bqplot==0.11.5
branca==0.3.1
bx-python==0.8.2
bz2file==0.98
CacheControl==0.12.5
cachetools==3.1.0
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
Click==7.0
cloudpickle==0.8.1
contextlib2==0.5.5
cryptography==2.6.1
cudf==0.6.1+0.gbeb4ef3.dirty
cuml==0.6.1+0.g57eda46.dirty
cycler==0.10.0
Cython==0.29.7
cytoolz==0.9.0.1
dask==1.2.1
decorator==4.4.0
defusedxml==0.6.0
docutils==0.14
entrypoints==0.3
flake8==3.7.7
future==0.17.1
h5py==2.9.0
html5lib==1.0.1
HTSeq==0.11.2
idna==2.8
imageio==2.5.0
ipydatawidgets==4.0.0
ipykernel==5.1.0
ipyleaflet==0.10.1
ipympl==0.2.1
ipyparallel==6.2.3
ipyscales==0.3.0
ipython==7.5.0
ipython-genutils==0.2.0
ipyvolume==0.5.1
ipywebrtc==0.4.3
ipywidgets==7.4.2
isort==4.3.17
jedi==0.13.3
Jinja2==2.10.1
jmespath==0.9.4
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
jupyterlab==0.35.5
jupyterlab-server==0.2.0
kapteyn==2.3
kiwisolver==1.1.0
libgdf-cffi==0.6.1
librmm-cffi==0.6.0
line-profiler==2.1.2
llvmlite==0.28.0
lockfile==0.12.2
Mako==1.0.9
MarkupSafe==1.1.1
matplotlib==2.2.3
mccabe==0.6.1
mistune==0.8.4
mkl-fft==1.0.12
mkl-random==1.0.2
mmtf-python==1.1.2
more-itertools==7.0.0
msgpack==0.6.1
natsort==6.0.0
nbconvert==5.5.0
nbformat==4.4.0
nbgrader==0.5.4
networkx==2.3
nose==1.3.7
notebook==5.7.8
numba==0.43.1
numpy==1.16.3
nvstrings-cuda92==0.3.0
olefile==0.46
palettable==3.1.1
pandas==0.24.2
pandocfilters==1.4.2
papermill==0.14.2
parasail==1.1.16
parso==0.4.0
patsy==0.5.1
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.0.0
pluggy==0.9.0
progressbar2==3.37.1
prometheus-client==0.6.0
prompt-toolkit==2.0.9
psutil==5.6.2
ptyprocess==0.6.0
py==1.8.0
pyarrow==0.12.1
pyBigWig==0.3.12
pycodestyle==2.5.0
pycparser==2.19
pyfaidx==0.5.5.2
pyflakes==2.1.1
Pygments==2.3.1
PyOpenGL==3.1.1a1
pyOpenSSL==19.0.0
pyparsing==2.4.0
pyrsistent==0.14.11
pysam==0.15.2
PySocks==1.6.8
pytest==4.4.1
pytest-arraydiff==0.3
pytest-astropy==0.5.0
pytest-doctestplus==0.3.0
pytest-openfiles==0.3.2
pytest-remotedata==0.3.1
pytest-runner==4.4
python-dateutil==2.8.0
python-editor==1.0.4
python-utils==2.3.0
pythreejs==2.0.2
pytz==2019.1
PyWavelets==1.0.3
PyYAML==5.1
pyzmq==17.1.2
qtconsole==4.4.3
reportlab==3.5.19
requests==2.14.2
rpy2==2.9.1
RSeQC==3.0.0
s3transfer==0.1.13
scikit-bio==0.5.2
scikit-image==0.15.0
scikit-learn==0.20.3
scipy==1.2.1
seaborn==0.9.0
Send2Trash==1.5.0
simplegeneric==0.8.1
six==1.12.0
SQLAlchemy==1.3.3
statsmodels==0.9.0
tabulate==0.8.3
tenacity==5.0.4
terminado==0.8.2
testpath==0.4.2
textwrap3==0.9.2
toolz==0.9.0
tornado==6.0.2
tqdm==4.7.2
traitlets==4.3.2
traittypes==0.2.1
tzlocal==1.5.1
urllib3==1.12
vaex-astro==0.4.0
vaex-core==0.7.3
vaex-distributed==0.3.0
vaex-hdf5==0.4.0
vaex-jupyter==0.2.3
vaex-server==0.2.1
vaex-ui==0.2.0
vaex-viz==0.3.3
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.4.2
xarray==0.12.1
xlrd==1.2.0
yellowbrick==0.9
